<app-page-header>
  <div class="row align-items-end">
    <div class="col-md-12 col-lg-12 text-right order-0 order-lg-1 mb-3 mb-lg-0">
      <a [routerLink]="['./add']" class="btn btn-primary"> Add vouchers category </a>
    </div>
  </div>
</app-page-header>
<app-page-body title="vouchers category">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company Name</th>
      <th scope="col">Type</th>
      <th scope="col">Voucher Amount</th>
      <th scope="col">In Stock</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="voucher.length; else noVoucherExist">
      <tr *ngFor="let eq of voucher; let eqindex = index">
        <td>
          {{ (currentPage - 1) * perPage + (eqindex + 1) }}
        </td>
        <td>
          {{ eq?.company_name | uppercase }}
        </td>
        <td>
          {{eq?.type|titlecase}}
        </td>
        <td> ${{ eq.value }} AUD</td>
        <td>
          <ng-container *ngIf="eq.is_available_in_voucher==1"><span class="tick">&#10004;</span> In Stock
          </ng-container>
          <ng-container *ngIf="eq.is_available_in_voucher==0"><span class="cross">&#10008;</span> Out of Stock
          </ng-container>

        </td>
        <td class="text-right dropdown-fixed">
          <div ngbDropdown [placement]="eqindex > 7 ? 'left' : 'left'">
            <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
              <a (click)="deleteVoucherCategory(eq.id, eqindex)" class="dropdown-item" href="javascript:void(0)">
                Delete Vouchers Category
              </a>
              <a class="dropdown-item" [routerLink]="['./edit/'] + eq.id">
                Edit Vouchers Category
              </a>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
    <ng-template #noVoucherExist>
      <tr>
        <th class="no-record-found" colspan="8">No voucher found</th>
      </tr>
    </ng-template>
  </tbody>
  <app-pagination [currentPage]="currentPage" [totalPage]="totalPage"
    (pageChange)="onPageChange($event)"></app-pagination>
</app-page-body>
