<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row"></div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row justify-content-center">
    <div class="col-xl-6">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">
                <a routerLink="/consultant" class="btn btn-sm">
                  <i class="fa fa-arrow-left"></i> </a>&nbsp; {{title}}
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (submit)="onSubmit()" autocomplete="off">
            <div class="mb-3">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" formControlName="first_name" />
              <small class="form-text text-danger" *ngIf="
                registerForm.get('first_name')?.hasError('required') &&
                (registerForm.get('first_name').dirty ||
                registerForm.get('first_name').touched ||
                submitted)
              ">
                Please enter first name
              </small>
            </div>

            <div class="mb-3">
              <label>Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" formControlName="last_name" />
            </div>

            <div class="mb-3" *ngIf="!isEdit">
              <label>Email Address</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="email" />
              <small class="form-text text-danger" *ngIf="
                registerForm.get('email')?.hasError('required') &&
                (registerForm.get('email').dirty ||
                registerForm.get('email').touched ||
                submitted)
              ">
                Please enter email
              </small>
              <small class="form-text text-danger" *ngIf="
                !registerForm.get('email')?.hasError('required') &&
                registerForm.get('email').invalid &&
                (registerForm.get('email').dirty ||
                registerForm.get('email').touched ||
                submitted)
              ">
                Please enter a valid email
              </small>
            </div>
 <!-- country code -->
 <div class="mb-3">
  <label>Country Code</label>

  <input type="text" class="form-control" placeholder="Country Code" formControlName="country_code"
    autocomplete="" />
  <small class="form-text text-danger" *ngIf="
    registerForm.get('country_code')?.hasError('required') &&
    (registerForm.get('country_code').dirty ||
    registerForm.get('country_code').touched ||
    submitted)
  ">
    Please enter country code
  </small>
  <small class="form-text text-danger" *ngIf="
  !registerForm.get('country_code')?.hasError('required') &&
  registerForm.get('country_code').invalid &&
  (registerForm.get('country_code').dirty ||
  registerForm.get('country_code').touched ||
  submitted)
">
  Please enter a valid country code
</small>
</div>
<!-- end country code -->
            <!-- mobile -->
            <div class="mb-3">
              <label>Mobile Number</label>

              <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobile"
                autocomplete="" />
              <small class="form-text text-danger" *ngIf="
                registerForm.get('mobile')?.hasError('required') &&
                (registerForm.get('mobile').dirty ||
                registerForm.get('mobile').touched ||
                submitted)
              ">
                Please enter mobile number
              </small>
              <small class="form-text text-danger" *ngIf="
              !registerForm.get('mobile')?.hasError('required') &&
              registerForm.get('mobile').invalid &&
              (registerForm.get('mobile').dirty ||
              registerForm.get('mobile').touched ||
              submitted)
            ">
              Please enter a valid country code
            </small>

            </div>
            <!-- end mobile -->

              <div class="mb-3">
                <label>Upload Document</label>

<input type="file" class="form-control" (change)="onFileSelected($event)" accept=".jpg,.png,.jpeg, .pdf" class="form-control" formControlName="doc" />
              <small class="form-text text-danger" *ngIf="
               !doc&&
                (registerForm.get('doc').dirty ||
                registerForm.get('doc').touched ||
                 submitted)
              ">
                Please upload an document
              </small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
