<!-- <div class="header bg-gradient-dark py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Reset password</h1>
          <p class="text-lead text-light"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div> -->
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <!-- <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div> -->
        <div class="card-body px-lg-5 py-lg-5">

          <div class="card-logo">
            <img src="assets/img/brand/logo.png"/>
          </div>
          <div class="text-center text-muted mb-4">
            <small>Set your new password</small>
          </div>
          <form
            role="form"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-lock-circle-open"></i>
                  </span>
                </div>
                <input
                  class="form-control"
                  type="password"
                  autocomplete="new-password"
                  placeholder="New password"
                  formControlName="password"
                />
              </div>
              <small
                class="form-text text-danger"
                *ngIf="
                  resetPasswordForm.get('password').hasError('required') &&
                  (resetPasswordForm.get('password').dirty ||
                    resetPasswordForm.get('password').touched ||
                    submitted)
                "
              >
                Please enter password
              </small>
              <small
                class="form-text text-danger"
                *ngIf="
                  !resetPasswordForm.get('password').hasError('required') &&
                  resetPasswordForm.get('password').invalid &&
                  (resetPasswordForm.get('password').dirty ||
                    resetPasswordForm.get('password').touched ||
                    submitted)
                "
              >
                Please enter a valid password
              </small>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-lock-circle-open"></i>
                  </span>
                </div>
                <input
                  type="password"
                  autocomplete="new-password"
                  class="form-control"
                  placeholder="Confirm password"
                  formControlName="cpassword"
                />
              </div>
              <small
                class="form-text text-danger"
                *ngIf="
                  resetPasswordForm.get('cpassword').hasError('required') &&
                  (resetPasswordForm.get('cpassword').dirty ||
                    resetPasswordForm.get('cpassword').touched ||
                    submitted)
                "
              >
                Please enter confirm password
              </small>
              <!-- <small
                class="form-text text-danger"
                *ngIf="
                  !resetPasswordForm.get('cpassword').hasError('required') &&
                  resetPasswordForm.get('cpassword').invalid &&
                  (resetPasswordForm.get('cpassword').dirty ||
                    resetPasswordForm.get('cpassword').touched ||
                    submitted)
                "
              >
                Please enter a valid confirm password
              </small> -->
              <small
                class="form-text text-danger"
                *ngIf="
                  !resetPasswordForm.get('password').hasError('required') &&
                  !resetPasswordForm.get('cpassword').hasError('required') &&
                  resetPasswordForm.get('password').value !== resetPasswordForm.get('cpassword').value
                "
              >
                New password and confirm password should be same
              </small>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <!-- <a routerLink="/login" class="text-light">
            <small>Back to login</small>
          </a> -->
        </div>
        <!-- <div class="col-6 text-right">
          <a routerLink="/register" class="text-light">
            <small>Create new account</small>
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>
