<app-page-header>
  <div class="row">
    <div class="col-lg-3 col-6 mb-2 mb-lg-0">
      <input type="search" name="search" class="form-control" [value]="search" placeholder="Search"
        (search)="onSearch($event.target.value)" id="">
    </div>
  </div>
</app-page-header>
<app-page-body title="uber orders">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Order no.</th>
      <th scope="col">Name</th>
      <th scope="col">Consultant Name</th>
      <th scope="col">Consultant Email</th>
      <th scope="col">Mobile</th>
      <th scope="col">Order Amount</th>
      <th scope="col">Schedule Trip</th>
      <th scope="col">Return Trip</th>
      <th scope="col">Notes</th>
      <th scope="col">Pickup Date Time</th>
      <th scope="col">Return Date Time</th>
      <th scope="col">Pick Up Address</th>
      <th scope="col">Drop Off Address</th>
      <!-- <th scope="col">Consultant Id</th> -->
      <th scope="col">Status</th>
      <th scope="col">Time/Date Order Placed</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="list.length; else noVoucherExist">
      <tr *ngFor="let eq of list; let eqindex = index">
        <td>{{ (currentPage - 1) * perPage + (eqindex + 1) }}</td>
        <td>{{eq.purchaseOrderNumber}}</td>
        <td>{{ eq.name | uppercase }}</td>
        <td>{{ eq.consultant_name }}</td>
        <td>{{ eq.consultant_email }}</td>
        <td>{{eq.mobileNumber}}</td>
        <td>{{eq.purchaseOrderAmount}}</td>
        <td>{{eq.scheduledTrip==1?'Yes':'No'}}</td>
        <td>{{eq.returnTripRequired==1?'Yes':'No'}}</td>
        <td> <button type="button" class="btn btn-primary read-more-btn" *ngIf="eq.notes"
            (click)="readnotes(eq.notes)">Read notes</button></td>
        <td>{{eq.pickupDateTimeOfTrips|dateFormat}}</td>
        <td>{{eq.returnDateTimeOfTrips?(eq.returnDateTimeOfTrips|dateFormat):'N/A'}}</td>
        <td>{{eq.pickUpAddress}}</td>
        <td>{{eq.dropOffAddress}}</td>
        <!-- <td>{{eq.consultantId}}</td>-->
        <td><span
            [ngClass]="{'btn btn-success' : eq.status==1 }">{{eq.status==1?'Approved':eq.status==2?'Declined':'Pending'}}</span>
        </td>
        <td>
          {{eq.created_at|date:'dd/MM/yyyy, hh:mm a':'Australia/Adelaide'}}
        </td>
        <td class="text-right dropdown-fixed">
          <div ngbDropdown [placement]="eqindex > 7 ? 'left' : 'left'">
            <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" (click)="update(eq)">
                Update
              </a>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
    <ng-template #noVoucherExist>
      <tr>
        <th class="no-record-found" colspan="8">No order found</th>
      </tr>
    </ng-template>
  </tbody>
  <app-pagination [currentPage]="currentPage" [totalPage]="totalPage"
    (pageChange)="onPageChange($event)"></app-pagination>
</app-page-body>
