<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row"></div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row justify-content-center">
    <div class="col-xl-9">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">
                <a (click)="navigateBack()" class="btn btn-sm">
                  <i class="fa fa-arrow-left"></i> </a>&nbsp; Edit Product
              </h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="updateProductForm" (ngSubmit)="onSubmit()">
            <div class="px-lg-4">

              <!-- product name -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">
                      Product name<sup style="color: red">*</sup>
                    </label>
                    <input id="name" class="form-control form-control-alternative" placeholder="Product name"
                      formControlName="name" autocomplete="name" maxlength="1000" />
                    <small class="form-text text-danger form-error" *ngIf="
                        updateProductForm.get('name').hasError('required') &&
                        (updateProductForm.get('name').dirty ||
                          updateProductForm.get('name').touched ||
                          submitted)
                      ">
                      Please enter product name
                    </small>
                  </div>
                </div>
                <!-- product category -->
                <div class="col-lg-6">
                  <div class="form-group category__cnt">
                    <label class="form-control-label" for="category">
                      Category<sup style="color: red">*</sup>
                    </label>
                    <p-treeSelect formControlName="category" [options]="categories" [metaKeySelection]="false"
                      selectionMode="multiselect" placeholder="Select category"></p-treeSelect>
                    <small class="form-text text-danger form-error" *ngIf="
                        updateProductForm.get('category').hasError('required') &&
                        (updateProductForm.get('category').dirty ||
                          updateProductForm.get('category').touched ||
                          submitted)
                      ">
                      Please select category
                    </small>
                  </div>
                </div>
              </div>


              <!-- product price -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="price">
                      Price
                    </label>
                    <input id="price" type="text" class="form-control form-control-alternative" placeholder="Price"
                      formControlName="price" maxlength="50" appOnlyNumber decimal="true" />
                    <!-- <small
                      class="form-text text-danger form-error"
                      *ngIf="
                        updateProductForm.get('price').hasError('required') &&
                        (updateProductForm.get('price').dirty ||
                          updateProductForm.get('price').touched ||
                          submitted)
                      "
                    >
                      Please enter price
                    </small> -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="quantity">
                      Product quantity
                      <!-- <sup style="color: red">*</sup> -->
                    </label>
                    <input type="text" id="quantity" class="form-control form-control-alternative"
                      placeholder="Product quantity" formControlName="quantity" maxlength="50" appOnlyNumber />
                    <!-- <small
                      class="form-text text-danger form-error"
                      *ngIf="
                        updateProductForm.get('quantity').hasError('required') &&
                        (updateProductForm.get('quantity').dirty ||
                          updateProductForm.get('quantity').touched ||
                          submitted)
                      "
                    >
                      Please enter product quantity
                    </small> -->
                  </div>
                </div>
              </div>

              <!-- product quantity -->


              <!-- product dynamic property -->
              <!-- product dynamic property -->
              <div class="row">
                <ng-container *ngFor="let option of options; let index = index">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label add-option" for="size">
                        Product {{ option.group_name }}
                        <button type="button" class="btn-primary" (click)="open(option)">Add <i class="fa fa-plus"
                            aria-hidden="true"></i> </button>
                      </label>
                      <ng-multiselect-dropdown [placeholder]="'Select '+option.group_name" [settings]="dropdownSettings" [formControlName]="option?.group_name"
                        [data]="option.options" (onSelect)="onItemSelect($event,option.id)"
                        (onDeSelect)="onDeItemSelect($event,option.id)">
                      </ng-multiselect-dropdown>
                    </div>
                  </div>

                </ng-container>
              </div>
              <!-- <ng-container *ngFor="let option of options; let index = index">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="size">
                        Product {{ option.group_name }}
                      </label>
                      <ng-multiselect-dropdown
                      [placeholder]="'Select '+option.group_name"
                      [settings]="dropdownSettings"
                      [data]="option.options"
                      (onSelect)="onItemSelect($event,option.id)"
                      (onDeSelect)="onDeItemSelect($event)"
                      [formControlName]="option.group_name"
                      >
                    </ng-multiselect-dropdown>

                    </div>
                  </div>
                </div>
              </ng-container> -->

              <!-- product dimensions -->
              <!-- product short description -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="short_description">
                      Product short description
                    </label>
                    <textarea id="short_description" class="form-control form-control-alternative"
                      placeholder="Product short description" formControlName="short_description" rows="5"></textarea>
                  </div>
                </div>
                <!-- product long description -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="long_description">
                      Product long description
                    </label>
                    <textarea id="long_description" class="form-control form-control-alternative"
                      placeholder="Product long description" formControlName="long_description" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <!-- product dimensions -->
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="dimensions">
                      Product dimensions
                    </label>
                    <textarea id="dimensions" class="form-control form-control-alternative" rows="5"
                      placeholder="Product dimensions" formControlName="dimensions"></textarea>
                  </div>
                </div>
                <!-- product care instructions -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="care_instructions">
                      Product care instructions
                    </label>
                    <textarea id="care_instructions" class="form-control form-control-alternative" rows="5"
                      placeholder="Product care instructions" formControlName="care_instructions"></textarea>
                  </div>
                </div>
              </div>

              <!-- product material -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="material">
                      Product material
                    </label>
                    <textarea id="material" rows="5" class="form-control form-control-alternative"
                      placeholder="Product material" formControlName="material"></textarea>
                  </div>
                </div>
              </div>
              <!-- product images -->
              <div class="row">
                <div class="col-lg-12">
                  <label class="form-control-label" for="image">
                    Product image
                  </label>

                </div>
                <div class="col-lg-12">
                  <ul class="list-inline preview_wrapper">
                    <li class="preview_item list-inline-item" *ngFor="let pre of preImage; let i = index">
                      <img [src]="serverUrl+pre.url" class="preview" />
                      <i class="fa fa-solid fa-times preview_delete" (click)="deleteImage(i)"></i>
                    </li>
                    <li class="preview_item list-inline-item" *ngFor="let preview of previews; let i = index">
                      <img [src]="preview" class="preview" />
                      <i class="fa fa-solid fa-times preview_delete" (click)="removeImage(i)"></i>
                    </li>
                    <li class="img-insert" *ngIf="(preImage.length+images.length) < 6">
                      <!-- <label class="btn btn-default p-0"> -->
                      <input type="file" accept="image/*" multiple class="form-control form-control-alternative"
                        (change)="selectFiles($event)" #imageInputRef />

                      <!-- </label> -->
                    </li>
                  </ul>
                </div>
              </div>

              <!-- product availability -->
              <div class="row">
                <div class="col-lg-12">
                  <div class="form">
                    <label class="form-control-label" for="availability">
                      Availability<sup style="color: red">*</sup>
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                      <input type="radio" id="availability" class="form-check-input" formControlName="availability"
                        value="1" />Yes
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                      <input type="radio" id="availability" class="form-check-input" placeholder="availability"
                        value="0" formControlName="availability" />No
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- product save button -->
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">
                Update product
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
